@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

header{
    background-color: rgba(19, 32, 73, 0.74);
    color: rgb(193, 195, 204);
   
    margin: 30px;
    /* font-size: 25px; */
    margin-bottom: 0;
    text-align: center;
    /* text-shadow: 2px 3px 4px red; */
    padding: 0 40px ;
}
#name{
    text-shadow: 3.3px 4.2px 5.23px rgb(15, 151, 230);
    letter-spacing: .64em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: .23em;
    border-bottom: 8px dashed rgba(154, 139, 163, 0.342);
    margin-bottom: 0;
}

.border{
   padding: 0;
    box-sizing: text-area;
    display: grid;  
   grid-template-columns: 350px 350px 350px;
   border-left: rgba(0, 0, 0, 0.349) 23px solid;
   border-right: rgb(109, 109, 136) 11px solid;
   border-top: rgba(3, 20, 18, 0.856) 1.3px solid;
}
.A{
    /* padding: 50px; */
    font-size: 15px;
    /* border: solid red 2px; */
    margin: 0 20px;
    
}
.B{
    float: left;
    border-radius: 40%;
}
.c{
    margin: 40px;
    margin-right: 120px;
    text-align: justify;
    text-overflow: ellipsis;
    font-size: 16px;
}
#at {
    border: rgba(4, 2, 27, 0.575) dotted;
    border-radius: 50%;
}
#ta {
    border: rgba(2, 29, 15, 0.856) dotted;
    border-radius: 89%;
}
#tt {
    border: rgba(2, 26, 14, 0.733) dotted;
    border-radius: 50%;
}
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 0;
    background: rgb(140, 141, 141) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 30px;
}
.container{
    position: relative;
    margin: 0 30px 30px;
    margin-top: -17px;
    margin-bottom: -39px;
    background: #fff;
    /* width: 100%; */
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.left-side{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    background: rgba(5, 4, 51, 0.582);
    padding: 0;
}
.right-side{
    position: relative;
    background-color: rgb(4, 255, 138);
    padding: 40px;
}
#wow{
    margin-left: 20px;
}
.profile-text{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: radial-gradient(#6c71805b, #082e2200);
   margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
    border-bottom: 5px solid rgba(2, 11, 27, 0.212);
}
.imgbox{
    background: rgba(230, 236, 229, 0.342);
    position: relative;
    width: 110px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.imgbox img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.profile-text h2{
    color: #fff;
    font-size: 1.2em;
    /* margin-top: 20px; */
    text-transform: uppercase;
    font-weight: 540;
    /* line-height: 1.4em; */
    text-align: center;
}
.profile-text h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
#isnotcap{
    text-transform: lowercase;
}
.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact-info ul{
    position: relative;
   
   }
   .contact-info{
    font-weight: 599;
    color: rgb(21, 3, 63);
    background-color: rgba(102, 104, 138, 0.185);
   }
   .contact-info-edu{
    font-weight: 599;
    color: rgb(0, 0, 0);
    background-color: rgba(95, 43, 145, 0.082);
    border-radius: 70px;
    margin-left: 23px;
   }
   .contact-info ul li{
       list-style: none;
       position: relative;
       margin: 19px 0;
       
       cursor: pointer;
   }
.contact-info.icon{
    display: inline-block;
    width: 25px;
    font-size: 10px;
    color: turquoise;
}
.contact-info.text{
    color: whitesmoke;
    font-weight: 300;
}
.contact-info-language {
    list-style: none;
    /* font-size: 26px; */
    color: rgb(248, 248, 248);
    position: relative;
    cursor: pointer;
}
.la{
    width: 35px;
    height: 30px;
}
.contact-info.education{
    margin-bottom: 15px;
   
}
.contact-info.education h5{
    color: turquoise;
    font-weight: 500;
}
.contact-info.education h4{
    color: wheat;
    font-weight: 300;
}
.contact-info.education h4:nth-child(2){
    color: whitesmoke;
    font-weight: 500;
}
.text{
    /* font-size: 33px; */
    color: rgba(202, 213, 223, 0.692);
}
.persent {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(32, 7, 7);
    display: block;
    margin-top: 5px ;
    background-color: rgb(255, 255, 255);
    font-weight: 21px;
}
.persent div{
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    height: 100%;
    background: #426170;
    background: rgba(0, 14, 138, 0.911);
}
.right-side{
    background: rgba(161, 194, 233, 0.534);
    position: relative;
    padding: 40px;
}
.about{
    display: flex;
    flex-direction: none;
    margin: 20px 0;
}
.titleb{
    text-transform: uppercase;
    color: rgb(99, 12, 107);
    font-weight: 20px;
}
.right-side.sub{
    padding-left: 100px;
    color: lime;
}
.year-company{
    min-width: 150px;
    color: rgb(15, 2, 24);
}
.year-company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.text2{
    border-radius: 300px;
    background: rgba(168, 131, 131, 0.158);
    color: rgb(0, 0, 0);
}
.text2 h4{
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(14, 101, 136);
}
.bottom{
    padding: 0;
    box-sizing: border-box;
    display: grid; 

   grid-template-columns: 300px 340px;

   /* border-left: black 23px solid; */
   /* border-right: rgb(202, 3, 3) 11px solid;
   border-top: rgb(13, 9, 194) 1.3px solid;
   border: springgreen dotted; */
   /* border-radius: 50%; */
}
.about{
    margin: 0;
    
}
#quality{
    background:linear-gradient(to right, rgba(124, 187, 173, 0.164),rgba(95, 43, 145, 0.082));
    border-left: rgba(232, 229, 240, 0.082) solid 25px;
    color: rgb(78, 72, 124);
    border-radius: 60px;
    font-size: 25px;
    grid-row-end: -1;

}
#technical{
    background: linear-gradient(to left, rgba(62, 128, 103, 0.041),rgba(95, 43, 145, 0.082) ) ;
    border-right: rgba(205, 200, 214, 0.089) solid 5px;
    color: rgb(3, 0, 10);
    border-radius: 30px;
    font-size: 25px;
    border-top-left-radius: 170px;
    border-bottom-left-radius: 120px;

}
u{
    font-size: 18px;
    background: rgba(0, 255, 255, 0.534);
}

.content{
    position: relative;
    margin: 0 30px 0 30px;
    margin-top: 0;
    background: #fff;
    min-height: 15%
    
}
.content{
  
    padding: 0;
    box-sizing: border-box;
    display: grid;  
    grid-template-columns: 10% 25% 25% 40%;
   
    
}
footer{
    background: rgb(140, 141, 141) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.left{
    
    position: relative;
    background: rgb(62, 62, 167);
    padding: 40px;

}
.right{
    
        background: #fff;
        position: relative;
        padding: 40px;
}
.content ul{
    list-style: none;
}
.aaaa{
    background-color: rgb(0, 0, 0);
}
.bbbb{
    color: rgb(255, 255, 255);
    font-size: 17px;
    background:  rgba(19, 32, 73, 0.74)
    
}
#w1,#w3, #w2{
    border-right: rgba(9, 122, 70, 0.308) solid 13px;
}
.hobbies{
    color: rgb(255, 255, 255);
    display: grid;
    /* border: 1px solid green; */
  /* background-color: rgba(167, 175, 201, 0.76); */
  flex: auto;
  grid-template-columns: 30% 30% 30%;
  
}
#xc{
    list-style: disc;
    padding: 0;
    box-sizing: border-box;
    display: grid;  
    grid-template-columns: 35% 35% 30%;
}